<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Status Tab -->
  <ion-tab title="Status" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/tab/status">
    <ion-nav-view name="tab-status"></ion-nav-view>
  </ion-tab>

  <!-- Alarmes Tab -->
  <ion-tab title="Alarmes" icon-off="ion-ios-bell-outline" icon-on="ion-ios-bell" href="#/tab/alarmes">
    <ion-nav-view name="tab-alarmes"></ion-nav-view>
  </ion-tab>

  <!-- Ajustes Tab -->
  <ion-tab title="Ajustes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/ajustes">
    <ion-nav-view name="tab-ajustes"></ion-nav-view>
  </ion-tab>

</ion-tabs>
